body {
  background-color: lightblue
}

ul img {
  height: 10em;
  width: 10em;
}

ul .btn-danger {
  background-color: #8a6d3b;
  border-style: none;
  margin-top: 0.2em
}


form {
  margin-bottom: 0
}

.alert-info {
  border-style: none;
}

.form-group {
  margin-bottom: 0
}

.btn-primary {
  background-color: #31708f;
  border-style: none
}
